body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

#main {
  padding-top: 100px;
  padding-left: 230px;
}

#title {
  position: fixed;
  padding-left: 220px;
  background-color: #6a879f;
  display: block;
  width: 100%;
  height: 60px;
  margin-top: 0;
  padding-top: 30px;
  z-index: 1;
}

#sidebar {
  height: 100%;
  position: fixed;
  width: 200px;
  padding-top: 120px;
  background-color: #6a879f;
}

#sidebar a {
  padding: 5px 5px 20px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.timeline_link {
  text-decoration: none;
}

body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

.timeline {
  position: relative;
  max-width: 1600px;
  margin: 40px 20px;
  height: 800px;
  z-index: 0;
}

.timeline::before {
  content: "";
  background: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 3px;
}

.bubble {
  position: absolute;
  padding: 12px 12px;
  border-radius: 20px;
  background-color: transparent;
  top: var(--bubble_pos)
}

.left {
  right: 50%;
  margin-right: 20px;
}

.right {
  left: 50%;
  margin-left: 20px;
}

.left::before {
  content: " ";
  position: absolute;
  top: 50px;
  width: 40px;
  z-index: 1;
  right: -20px;
  border: 2px solid rgb(255, 255, 255);
}

.right::before {
  content: " ";
  position: absolute;
  top: 50px;
  width: 40px;
  z-index: 1;
  left: -20px;
  border: 2px solid rgb(255, 255, 255);
}

.content {
  padding: 5px 30px 10px 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: relative;
  border-radius: 6px;
}

.content:active {
  background-color: rgb(198, 198, 198);
}
